<!DOCTYPE html>
<html>
<head>
	<title>AWGN Simulator</title>
</head>
<body>

<h1> AWGN Channel Simulator </h1>

<form action="http://127.0.0.1:5000/simulator_results" enctype="multipart/form-data" method="POST">
	
	Bit Energy to Noise Power Ratio (Eb/No)    <input type="number" name="ebno" step="any"> <br><br><br>
	<!-- Rate    <input type="number" name="rate" step="any"><br><br><br> -->
 	Message    <textarea rows="4" cols="50" name="msg"></textarea> <br><br><br><br><br>

	<input type="submit" value="Send Message over AWGN Channel" /> <br> <br>

</form>

<a href="http://127.0.0.1:5000/form2">Calculate optimal bit energy</a>
</body>
</html>
